<?xml version="1.0"?>

<model>
  <name>Uvc1(Virofighter)</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pravin Oli</name>
    <email>pravin.oli.08@gmail.com</email>
  </author>

  <description>
    Uvc1 Virofighter
  </description>
</model>
